@import "../../vars.css";


body {
    background-color: var(--color-bg);
}

.container {
    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.history {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 14px;
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 27px;
    background: linear-gradient(90deg, rgba(59, 89, 152, 0.42) -60.08%, rgba(59, 89, 152, 0) 66.02%); /* Adjusted gradient to match primary color */
    border-radius: 10px;
    padding: 24px;
}

.historyItem img {
    width: 100px;
}

.historyItemDetails {
    font-family: var(--font-roboto);
}

.historyItemDetails h3 {
    font-size: 30px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 20px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-left: 21px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: disc;
    font-size: 25px;
}
